extends layout
block content
  .rom.page-header
    .col-lg-12
      h1=title
  
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p ул.Студентческая, д.6/б
          .panel.panel-primary
            .panel-heading
              h2.panel-title Часы работы
            .panel-body
              p Пн - Пт: 7:00 - 21:00
              p Сб: 8:00 - 19:00
              p Вс: закрыто
            .panel.panel-primary
              .panel-heading
                h2.panel-title Особенности
              
