extends layout

include _includes/shared-funs

block content
  .banner.page-header
    .col-lg-12
        h1= pageHeader.title
          small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="locListCtrl")
      .label(for="filter") Результат фильтра
      input(type="text", name="filter", ng-model="textFilter")
      .error {{ message }}
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="loc in data.locs | filter: textFilter")
          h4
            a(href="/loc/{{ loc._id }}") {{ loc.name }}
            small(rating-stars, rating="loc.rating")
            span.badge.pull-right.badge-default {{ loc.distance | formatDistance }}
          p.address {{ loc.address }}
          p
            span.label.label-warning.label-facility(ng-repeat="facility in loc.facilities")
              | {{ facility }}
    .col-xs-12.col-md-4
      p.lead #{sidebar}
